
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeoutFadein {
    0% { opacity: 1; }
    25%   { opacity: 0; }
    100% { opacity: 1; }
}

* {
    box-sizing: border-box;
}



body {
    background-color: #e0e0e0;
    color: #666;
    font-size: 15px;
    background-image: url(images/home-bg.png);
    background-size: 1440px 736px;
    background-repeat: no-repeat;
    padding-bottom: 1500px;
}

@media screen and (max-width: 767px) {
    body {
        background: #ddd;
        padding: 20px;
    }

    .other-stuff {
        height: 120px;
    }
}

body, .field, .insurance-field {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body.branded,
body.branded .field,
body.branded .insurance-field  {
    font-family: 'Sharp Sans No1', Arial, sans-serif;
    color: #00234B;
}

a {
    color: #2076c7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    padding-left: 16px;
    font-size: 15px;
    /*color: #aaa;*/
    margin-bottom: 8px;
}

input:focus {
    outline: none;
}

hr {
    margin: 8px 16px;
    border: 0;
    height: 1px;
    border-top: 1px solid #ddd;
}

/*------------------------------------
utilities
--------------------------------------*/
.hidden {
    display: none;
}


/*------------------------------------
lists
--------------------------------------*/

.controls {
    padding-left: 16px;
    padding-bottom: 10px;
}

.message {
    color: #aaa;
    padding: 10px;
}



/*------------------------------------
list interactions
--------------------------------------*/

.list__item {
    cursor: pointer;
}

.list__item.selected{
    background: #FFECF1; /* 25% pink */
}


.list__item.highlight {
    background-color: #FFECF1; /* 25% pink */
}

.list__item:active {
    background-color: #FFECF1; /* 25% pink */
}


/*------------------------------------
other fields
--------------------------------------*/

.fields {
    position: absolute;
    left: 133px;
    top: 365px;
    display: flex;
    flex-direction: row;
}

.field {
    border: none;
    padding: 10px;
    height: 48px;
    font-size: 15px;
}

.search-field {
    width: 586px;
    margin-right: 2px;
}

.location-field {
    width: 212px;
    margin-right: 2px;
}

@media screen and (max-width: 767px) {
    .fields {
        position: static;
        flex-direction: column;
    }

    .field, .insurance-field {
        width: 100%;
        margin-bottom: 5px;
    }
}


/*------------------------------------
picker
--------------------------------------*/

.picker {
    background: #fff;
    position: relative;
    width: 318px;
}


@media screen and (max-width: 767px) {
    .picker {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        /*transition: margin-top 0.5s ease, height 0.5s ease;*/
    }

    .picker.active:not(.complete) {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}


.picker__contents {
        display: none;
        height: 0;
        flex-direction: column;
        width: 532px;
        left: -214px;
        position: relative;
        background: #fff;
        padding: 8px 0 0;
        box-shadow: 0 2px 8px rgba(0,0,0,.2);
        flex: 1 0;
}


.picker.active .picker__contents {
    display: flex;
    height: 480px;
}

.picker.complete.active .picker__contents {
    transition: top 0.3s ease;
    display: block;
    height: auto;
    top: 100%;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .picker__contents {
        width: 100%;
        left: 0;
        /*transition: 0.3s;*/
        animation: fadein 0.5s;
    }

    .picker:not(.complete) .picker__contents {
        box-shadow: none;
    }

    .picker.active .picker__contents {
        /*transition: 0.3s;*/
    }
}

.picker.complete .steps-wrapper,
.picker.complete .lists-wrapper {
    display: none;
}

.picker.complete .picker__contents {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.picker__header {
    display: none;
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.picker__header h4 {
    text-align: center;
}

.picker__header i {
    position: absolute;
    right: 16px;
    top: 0;
    font-size: 20px;
    color: #aaa;
}

.picker__header i:hover {
    color: #00234B;
}


@media screen and (max-width: 767px) {
    .picker.active:not(.complete) .picker__header {
        display: block;
        flex: none;
        opacity: 1;
        transition: opacity 0.6s ease;
    }

    .transition {
        /*position: absolute;*/
        width: 100%;
        height: 48px;
        background-color: pink;
        opacity: 0;
        transition: opacity 0.2s ease, width 0.5s ease 0.2s, height 0.5s ease 0.2s, top 0.5s ease 0.2s;
    }

    .picker.active:not(.complete) .transition {
        /*z-index: 100;*/
        width: 200%;
        height: 768px;
        top: -100px;
        opacity: 1;
    }
}


/*------------------------------------
spaghetti
--------------------------------------*/

.wrap {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .wrap {
        width: 100%;
    }
}



.count {
    font-size: 10px;
    float: right;
}

.requests {
    font-size: 8px;
    color: #aaa;
    font-family: Arial;
}

.insurance-list + .insurance-list {
    border-top: 1px solid #ddd;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

.list__item {
    list-style: none;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
}

.list__item .icons {
    flex: none
}

.list__item .item {
    flex: 1 0;
}

.list__item .icon {
    display: none;
    float: right;
}


.list__item.selected .icon-selected {
    display: block;
}

.list__item.has-next.highlight .icon-next {
    /*display: block;*/
}

.list__item.has-next.highlight .icon-selected {
    /*display: none;*/
}

.popular-list {
    margin-bottom: 6px;
}

.carrier {
    font-weight: 600;
}

.divider {
    color: #aaa;
}

.query, .match {
    color: #FF6473;
}



/*------------------------------------
tooltip
--------------------------------------*/

.tooltip {
    flex: none;
    display: none;
    color: purple;
    padding: 0 1px 0 5px;
    font-size: 22px;
}

.picker.incomplete .tooltip {
    display: block;
}

@media screen and (max-width: 767px) {
    .picker.active:not(.complete) .tooltip {
        display: none;
    }
}




/*------------------------------------
insurance field
--------------------------------------*/
.insurance-field-wrapper {
    /*border: 1px solid #aaa;*/
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    height: 48px;
    transition: margin 0.5s ease;
    position: relative;
}

@media screen and (max-width: 767px) {
    .picker.active:not(.complete) .insurance-field-wrapper {
        border: 1px solid #aaa;
        margin: 16px;
    }
}

.insurance-field {
    padding: 5px;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
    flex-grow: 1;
}

.picker.incomplete .insurance-field  {
    color: purple;
    text-decoration: underline;
}

.picker.active .insurance-field  {
    color: inherit;
    text-decoration: none;
}

.insurance-field .prompt {
    color: red;
}


.clear {
    flex: none;
    display: none;
}

.picker.complete .clear {
    display: block;
}







/*------------------------------------
steps
--------------------------------------*/
.steps-wrapper {
    overflow: hidden;
    margin: 8px 16px;
}

.steps {
    display: flex;
    flex-direction: row;
    flex: none;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}


.step {
    flex-grow: 1;
    width: 50%;
    padding: 8px 0;
    border-bottom: 2px solid #ccc;
    font-size: 12px;
}


.step i {
    display: none;
}

.step.complete i {
    display: inline;
}

.step.disabled {
    pointer-events: none;
    color: #ccc;
}

.step.active {
    border-bottom: 2px solid #333;
}


/*------------------------------------
completed display
--------------------------------------*/

.completed-display {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    padding: 7px 0 2px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.picker.reengaged .completed-display {
    top: 100%;
    transition: top .2s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
}

.picker.complete .completed-display {
    display: block;
    padding-top: 4px;
}

.completed-display:hover,
.picker.reengaged .completed-display {
    max-height: 400px;
    white-space: normal;
}


.completed-display__alternate-actions {
    display: none;
}

.picker.reengaged .completed-display__alternate-actions {
    display: block;
}


.completed-display ul {
    margin: 0;
}

.completed-display__clear--mobile {
    display: none;
}

.picker:not(.reengaged) .completed-display .list__item.highlight {
    background: none;
}


@media screen and (max-width: 767px) {
    .completed-display {
        max-height: 400px;
        white-space: normal;
    }

    .completed-display__clear--mobile {
        display: inline;
        /*margin-left: 10px;*/
    }
}



/*------------------------------------
selected display
--------------------------------------*/

.selected-display {
    padding: 0 10px;
    margin: 8px 0;
    flex: none;
    /*display: none;*/
}

.selected-display.active {
    display: none;
    /*display: block;*/
}

.selected-display i {
    color: #aaa;
}

.selected-display i:hover {
    color: #666;
}

.selected-display__carrier,
.selected-display__plan {
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    line-height: 20px;
    margin-bottom: 4px;
    display: inline;
}

.selected-display__carrier:empty + i,
.selected-display__plan:empty + i {
    display: none;
}

.selected-display__clear {
    font-size: 12px;
}

.selected-display__plan:empty + .selected-display__clear {
    display: none;
}

.selected-display__carrier:empty .selected-display__separator {
    display: none;
}


/*------------------------------------
lists & transitions
--------------------------------------*/

.lists-wrapper {
    margin-top: 8px;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 1 0;
}

.all-lists {
    width: 200%;
    position: absolute ;
    display: flex;
    flex-direction: row;
    left: 0;
    transition: 0.3s;
    height: 100%;
}

.picker.show-bcbs .all-lists {
    width: 300%;
}

.list-container {
    overflow-y: scroll;
    flex: 1 1;
    width: 100%;
}

.lists-wrapper.show-plan .all-lists {
    transition: 0.3s ;
    left: -100%;
}

.picker.show-bcbs .lists-wrapper.show-bcbs .all-lists {
    transition: 0.3s ;
    left: -100%;
}

.picker.show-bcbs .lists-wrapper.show-plan .all-lists {
    transition: 0.3s ;
    left: -200%;
}

.search-container {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

