<li class="list__item has-next" data-carrier-id="{{id}}" data-carrier="{{carrier}}">
    <span class="item">{{carrier}}</span>
    <div class="icons">
        <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
        <span class="icon icon-selected"><i class="fa fa-check"></i></span>
    </div>
</li>