<div>
    <h3>popular {{entityType}}</h3>
    <ul class="list popular-list">
        {{#popular}}
            <li class="list__item has-next" data-carrier-id="{{id}}">
                <span class="item">{{carrier}}</span>
                <div class="icons">
	                <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
	                <span class="icon icon-selected"><i class="fa fa-check"></i></span>
                </div>
            </li>
        {{/popular}}
    </ul>

    <div class="controls">
        <a href="#" class="see-all-link" data-on-text="hide all {{entityType}}" data-off-text="see all {{entityType}}">see all {{entityType}}</a>
    </div>
    <div class="all-container hidden">
        <h3>all {{entityType}}</h3>
        <ul class="list all-list">
            {{#all}}
                <li class="list__item has-next" data-carrier-id="{{id}}">
                    <span class="item">{{carrier}}</span>
                    <div class="icons">
                        <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
                        <span class="icon icon-selected"><i class="fa fa-check"></i></span>
                    </div>
                </li>
            {{/all}}
        </ul>
    </div>
    
    {{#alternates}}
        <hr>

        <ul class="list other-list">
            <li class="list__item choose-later" data-carrier-id="-2">
                <span class="item">I'll choose my insurance later</span>
                <div class="icons">
                    <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
                    <span class="icon icon-selected"><i class="fa fa-check"></i></span>
                </div>
            </li>
            <li class="list__item paying-myself" data-carrier-id="-3">
                <span class="item">I'm paying for myself</span>
                <div class="icons">
                    <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
                    <span class="icon icon-selected"><i class="fa fa-check"></i></span>
                </div>
            </li>
        </ul>
    {{/alternates}}
</div>
