<div>
    <h3>popular matches</span></h3>
    <ul class="list">
        {{#popular}}
            {{#carriers}}
                {{> carrierListItem}}
            {{/carriers}}

            {{#plans}}
                {{> planListItem}}
            {{/plans}}
            
        {{/popular}}
    </ul>

    <h3>matching carriers</span></h3>
    <ul class="list">
        {{#carriers}}
            {{> carrierListItem}}
        {{/carriers}}
    </ul>

    <h3>matching plans</span></h3>
    <ul class="list">
        {{#plans}}
            {{> planListItem}}
        {{/plans}}
    </ul>
</div>
