<div>
    <h3>popular plans</h3>
    <ul class="list">
        {{#popular}}
            <li class="list__item" data-plan-id="{{id}}">
                <span class="item">{{plan}}</span>
                <div class="icons">
	                <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
	                <span class="icon icon-selected"><i class="fa fa-check"></i></span>
                </div>
            </li>
        {{/popular}}
    </ul>
    <h3>all plans</h3>
    <ul class="list">
        {{#all}}
            <li class="list__item" data-plan-id="{{id}}">
                <span class="item">{{plan}}</span>
                <div class="icons">
                    <span class="icon icon-next"><i class="fa fa-chevron-right"></i></span>
                    <span class="icon icon-selected"><i class="fa fa-check"></i></span>
                </div>
            </li>
        {{/all}}
    </ul>
</div>
