<div>
    <h3>popular plans</h3>
    <ul class="list">
        {{#popular}}
            {{> planListItem}}
        {{/popular}}
    </ul>
    <h3>all plans</h3>
    <ul class="list">
        {{#all}}
            {{> planListItem}}
        {{/all}}
    </ul>
</div>
